* {
    padding: 0;
    margin: 0;
}

header {
    max-width: 100%;
    height: 5rem;
    margin: 0 auto;
    background: #232b2b;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
}

#bodyIndex {
    background: no-repeat center/cover url(../imagens/apertureScience.jpg);
    background-position-y: 50%;

}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand h1 {
    color: blue;
}

.brand span {
    color: orange;
}

.menuContainer {
    margin-left: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.first a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.1s;
}

.first a:hover {
    color: rgb(110, 110, 255);
}

.second button {
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    margin: 5px;
    border: none;
}

.second .sign {
    color: white;
}

.second button:first-child {
    background-color: transparent;
}

.second button:last-child {
    border-radius: 10%;
    transition: 0.2s;
}

.second button:last-child:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    background: white;
}







footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #0e1111;
}

.footer {
    margin-top: 10%;
}

.footer>* {
    flex: 1 100%;
}

.footerLeft {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footerLeft img {
    width: 20%;
    margin-bottom: 30px;
}

h2 {
    font-weight: 600;
    font-size: 17px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footerRight {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footerRight>* {
    float: 1 50%;
    margin-right: 1.25em;
}

.boxF a {
    color: #999;
}

.footerBottom {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.footerLeft p {
    padding-right: 20%;
    color: #999;
}

.socials a {
    /* background: no-repeat center/cover url(!imagens/instagram.png); */
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.socials a i {
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}